body {
  margin: 0;
}

.main-container, .info-container, .form-container, .response-container {
  display: flex;
}

.main-container, .form-container {
  flex-direction: column;
  margin: 0 auto;
}

.main-container, .response-container {
  padding: 1rem;
}

.main-container {
  width: 720px;
}

.info-container, .response-container {
  justify-content: center;
}

.info-container {
  padding: 0.5rem;
}

.form-container, canvas {
  padding: 2rem;
}

.form-container {
  width: 50%;
}

.response-container {
  flex-direction: row;
  flex-wrap: wrap;
}

input, select, button {
  margin: 0.125rem 0;
}

canvas {
  border: 1px solid #ddd;
  margin: 0.25rem;
}
