body {
  margin: 0;
}

.main-container, .info-container, .form-container, .form-elements-container, .response-container {
  display: flex;
}

.main-container, .form-elements-container {
  flex-direction: column;
}

.main-container, .response-container {
  padding: 1rem;
}

.main-container {
  width: 720px;
  margin: 0 auto;
}

.info-container, .response-container {
  justify-content: center;
}

.info-container {
  padding: 0.5rem;
}

.form-container {
  width: 70%;
  align-self: center;
}

.form-container, .response-container {
  flex-direction: row;
}

.form-container, canvas {
  padding: 2rem;
}

.form-elements-container {
  width: 100%;
  padding: 0.75rem;
}

input, select, button {
  margin: 0.125rem 0;
}

.response-container {
  flex-wrap: wrap;
}

canvas {
  border: 1px solid #ddd;
  margin: 0.25rem;
}

.scroll-btn {
  display: none;
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}
